datasets/IMAGE_DATASET_FOR_COLORTHIEF
datasets/processed_palettenet_data_sample
datasets/raw_recolor_data_sample
datasets/sample

# python compiled files
**/*.pyc

# large and unnecessary files
**/*ckpts
**/wandb