datasets/IMAGE_DATASET_FOR_COLORTHIEF
datasets/processed_palettenet_data_sample
datasets/raw_recolor_data_sample
datasets/sample
**/test_results
**/test_images
**/*_images
**/output

# python compiled files
**/*.pyc

# large and unnecessary files
**/*ckpts
**/wandb
**/*.pt